body {
    
    font-size: 16px;
    margin: 0 auto; 
}

@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait) {
    /* ruleset for 320px - 480px */ 
    
    div.header {
        display: none;
    }

    div.mobileheader {
        display: flex; 
        justify-content: space-evenly;
        background-color: white;
        height: 4rem;

    }

    div.firstsection {
        display: none;
    }

    div.firstsectionmobile {
        text-align: center;
        background-color: lightgray;
        
    }

    div.firstsectionmobile button {
            background-color: rgb(128, 128, 128);
            margin-bottom: 2rem;
            width: 85%;
        
    }

    img.firstimagemobile {
        width: 99%;
    }

    div.secondsection {
        display:none;
    }

    div.secondsectioncontent {
        display:none;
    }

    img.secondsectionimagemobile {
        display:none;
    }

    div.secondsectioncontentmobile {
        display: none;
    }

    div.threeimagesmobile {
        
            width: 100%;
            padding: 1rem;
        
    }

    div.sectionthrmobile {
        padding-left: 1rem;
        padding-top: 1.5rem;
       
    }

    img.threemobile {
        width: 95%;
    }

    div.thirdsection {
        display: none;
    }

    h1.thirdmobile {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 1rem; 
    }

    div.sixboxes {
        
        background-color: lightgray;
        width: 100%;
        padding: 1rem;
        margin: .5rem 1rem;
        
    }

    h3 a {
        color: black;
        text-decoration: none;
    }

    video.firstimagemobile {
        width: 100%;
    }

    footer.footer {
        display: none; 
    }

    }

    @media only screen and (min-width: 480px) {

        div.mobileheader {
            display: none;
        }

        div.firstsectionmobile {
            display:none;
        }

        div.secondsectionmobile {
            display: none;
        }

        div.secondsectioncontentmobile {
            display:none; 
        }

        div.thirdsectionmobile {
            display: none;
        }

        footer.mobile {
            display: none; 
        }
    }
    

header {
    display: fixed;
    align-content: center;
    background-color: rgb(0, 255, 4);
    
}

img.headerimage {
    width: 6%;
   
}

.header {
    display: flex;
    z-index: 1;
    align-items: center;
    background-color: white;
    width: 100%;
    margin: 0 auto; 
    padding-left: 1.5rem;
    height: 4rem;
}

header ul {
    float: right;
    list-style: none;
    
}

nav {
    padding-right: 3rem;
    width: 100%;
}

.C  {
    color: black;
    font-size: 1.5rem;
}

.A {
    color: grey;
    font-size: 1.5rem;
}

header li {
    display: inline; 
    padding-left: 1rem;
    text-decoration: none;
}

header li a:hover {
    color: rgb(99, 47, 255); 
    
}

.firstsection {
    background-color: lightgray;
    display: flex;
    align-items: center;
}

.firstimage {
    width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
}

.firstsectioncontent {
    width: 100%;
    
}

.firstsectioncontent h1 h2 {
    font-size: 4rem;
    
}

button {
    background-color: black;
    color: white;
    padding: .5rem 6rem;
}

.secondsection {
    display: flex;
}

img.three {
    padding: 1rem;
}

.three {
    width: 35%;
    padding-left: 1rem;
}

.secondsectioncontent {
    width: 60%;
    padding-left: 1.5rem;
}

.threeimages {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 9px;
}

a {
    text-decoration: none;
    color: rgb(0, 89, 255);
}

div.threeimages.lastthree {
    background-color: grey;
}

.thirdsection {
    background-color: lightgray;
}

h2.third {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.siximagescontainer {
    display: flex;
    justify-content: space-evenly;
    padding-left: 4rem;
    padding-right: 4rem;
}

.siximages {
    width: 25%;
}

img.siximage {
    width: 100%;
}

.first { 
    background-color: white;
}

footer {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

footer li {
    display: inline-flex;
}
